[data-module="params"] {
	position: absolute;
	background-color: #ddd;
	top: calc(100% - (200px + 20px)); /* 100% - (params + msgr) */
	left: calc(200px + 50px); /* song + empty space */
	width: calc(100% - (200px + 50px + 400px)); /* 100% - (song + empty space + instruments) */
	height: 218px;
	overflow-x: scroll;
	overflow-y: hidden;
}

[data-module="params"] [data-type="params"] {
	height: 200px;
	/* A little padding to make up for scrollbar of grid */
	padding-right: 15px;
}

[data-module="params"] [data-type="param"] {
	float: left;
	height:200px;
	background: url('./param.png');
	background-color: white;
	position: relative;
}

[data-module="params"] [data-type="param"].empty {
	background-color: #ddd;
}
[data-module="params"] [data-type="remove-param"] {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 10px;
	line-height: 10px;
	border-width: 2px;
}

[data-module="params"] [data-type="param"] .inner-param {
	background-color: rgba(0,0,255,0.5);
}